{% extends 'index.html' %}

{% block content %}

    <!-- ======= About Us Section ======= -->
    {% include 'About.html' %}

    <!-- ======= Why Us Section ======= -->
    {% include 'Why.html' %}

    <!-- ======= Stats Counter Section ======= -->
    {% include 'Stats.html' %}

    <!-- ======= Menu Section ======= -->
    {% include 'Menu.html' %}

    <!-- ======= Testimonials Section ======= -->
    {% include 'Testimonials.html' %}

    <!-- ======= Events Section ======= -->
    {% include 'Events.html' %}

    <!-- ======= Chefs Section ======= -->
    {% include 'Chefs.html' %}

    <!-- ======= Book A Table Section ======= -->
    {% include 'Book.html' %}

    <!-- ======= Gallery Section ======= -->
    {% include 'Gallery.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'Contact.html' %}

{% endblock %}

